:root{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0pt;
    padding: 0pt;
}

#inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner{
    width: 100vw;
    height: 50pt;
    background-color: rgb(56, 99, 239);
    display: flex;
    justify-content: flex-end;
}

button{
    display: block;
    width: 40pt;
    height: 40pt;
    border-radius: 10rem;
    margin: 5pt;
    margin-left: 0pt;
}

input{
    height: 30pt;
    margin-top: 10pt;
    width: 80%;
    border-radius: 10pt;
    border: solid rgb(61, 61, 114) 1pt;
    padding-left: 5pt;
    font-size: medium;
}

h1{
    color: white;
    line-height: 20pt;
    margin-left: 5pt;
}
b{
    color: white;
    font-size: 16pt;
}

#timeInn{
    width: 30pt;
    margin: 0pt;
}

.timerCont{
    margin: auto;
}
@media (max-width: 400px) {
    h1{
        font-size: 0pt;
    }
}